.ListItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 6px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  position: relative;
  

 

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }


  &:hover {
   
    width: 535px;
    height: 500px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    top: -50px;
    
  

   
    .img{
      height: 200px;
      width: 100%;
      top: 0px;
      overflow: hidden;
      object-fit: cover;
      
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;
      position: absolute;
      gap: 5px;
     

      .nameFilm{
        font-size: 16px;

      }

      

      .icons {
        display: flex;
        margin-bottom: 10px;
        gap: 5px;
        flex-direction: row;

        .icon {
          border: 2px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;
          
        }
      }

      .itemInfoTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;
        gap: 368px;
        cursor: text;
      
       

        .infomovie {
          border: 1px solid gray;
          padding: 1px 3px;
          margin: 0;
        }
      }

      .desc {
        font-size: 13px;
        margin-bottom: 10px;
        width: 535px;
        cursor: text;
      }

     
      

      .infoim{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .lan {
          font-size: 14px;
          color: lightgray;
          cursor: text;
        }

        .imdb{
          position: absolute;
          color: yellow;
          cursor: text;
          right: 5px;
        }
      }

    }
  
}
}